* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 25px;
  overflow-y: scroll;
}

button {
  cursor: pointer;
}

.title {
  font-size: 26px;
  margin-bottom: 10px;
}

.add-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 50px;
}

.add-input {
  flex-grow: 1;
  border: 2px solid #333;
  padding: 0 10px;
}

.add-button {
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 40px;
  width: 50px;
  height: 100%;
}

.list-container {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 20px #ccc;
  border-radius: 8px;
}

.list-item {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 20px 15px;
  font-size: 14px;
  width: 100%;
}

.list-item:last-child {
  border-bottom: none;
}

.list-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid;
  border-radius: 50%;
  margin-right: 5px;
}

.list-checkbox:checked {
  appearance: initial;
  background-color: #333;
}

.list-text {
  flex-grow: 1;
}

.completed {
  background-color: #eee;
  color: #aaa;
  text-decoration: line-through;
}

.list-remove-button {
  background-color: transparent;
  border: none;
  font-style: italic;
  color: inherit;
}

/* flext 사용법을 다시 살펴보자.. */
